@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

@layer components {
  .scroll-unshow {
    scrollbar-width: none;
  }

  .scroll-unshow::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .darkGradient {
    background: linear-gradient(to right, #010221, #080c3b, #080c3f);
  }
}

@utility mlr-* {
  margin-left: calc(--value(integer) * 1px);

  margin-right: calc(--value(integer) * 1px);
}

@utility plr-* {
  padding-left: calc(--value(integer) * 1px);
  padding-right: calc(--value(integer) * 1px);
}

/* input,
textarea .EmojiPickerReact {
  font-family:
    "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
} */

@theme {
  --animate-width: scale-width 1s ease-in-out forwards;
  --animate-fade-in: fade-in 0.3s ease-in-out forwards;
  --font-home: "nunito", sans-serif;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scale-width {
    0% {
      flex: 1;
    }

    100% {
      flex: 0.1;
    }
  }
}

@layer utilities {
  .bg-main {
    @apply bg-gradient-to-r from-white via-gray-100 to-gray-200;
  }

  .dark .bg-main {
    @apply bg-gradient-to-r from-[#010221] via-[#080c3b] to-[#080c3f];
  }
}

/* index.css */
.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Assure-toi que cette classe ne soit pas écrasée par le CSS default de react-audio-play */
.chat-audio-player.rap-container {
  background-color: transparent;
  /* pour voir le fond du chat */
  color: #f0f0f0;
}

/* styliser la “slider / progress bar” */
.chat-audio-player.rap-container .rap-slider .rap-progress {
  background-color: #94b9ff;
}

/* le “pin” de la barre */
.chat-audio-player.rap-container .rap-slider .rap-progress .rap-pin {
  background-color: #ffffff;
}

/* bouton play / pause & icônes */
.chat-audio-player.rap-container .rap-pp-icon path,
.chat-audio-player.rap-container .rap-volume-btn path {
  fill: #f0f0f0;
  /* icônes claires */
}

/* survol volume ou autres interactions */
.chat-audio-player.rap-container .rap-volume-btn:hover path {
  filter: brightness(1.2);
}
