@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

@layer components {
  .scroll-unshow {
    scrollbar-width: none;
  }

  .scroll-unshow::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .darkGradient {
    background: linear-gradient(to right, #010221, #080c3b, #080c3f);
  }
}

@utility mlr-* {
  margin-left: calc(--value(integer) * 1px);

  margin-right: calc(--value(integer) * 1px);
}

@utility plr-* {
  padding-left: calc(--value(integer) * 1px);
  padding-right: calc(--value(integer) * 1px);
}

@theme {
  --animate-fade-in: fade-in 0.3s ease-in-out forwards;
  --font-home: "nunito", sans-serif;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .bg-main {
    @apply bg-gradient-to-r from-white via-gray-100 to-gray-200;
  }

  .dark .bg-main {
    @apply bg-gradient-to-r from-[#010221] via-[#080c3b] to-[#080c3f];
  }
}
